/* *{

margin: 0;
padding: 0;
box-sizing: border-box;

} */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 1536px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* width: auto;
  height: 92px; */
  padding: 16px 120px;
  background-color: #ffffff;
}

nav .nav-links {
  display: flex;

  gap: 51px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
nav a {
  line-height: 152%;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  opacity: 90%;
}

/* shared  */
.btn {
  font-size: 16px;
  font-weight: semi-bold;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background-color: #30b868;
}


.btn:hover{
    cursor: pointer;
}
/* banner part  */

.banner {
  /* display: flex; */
  /* border: 1px solid black; */
  justify-items: center;
  gap: 40px;
  padding: 70px 120px 134px 120px;
  background: url("../assets/hero-bg.png");
}

/* .banner h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
} */

.banner p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.banner .small-heading {
  /* width: 500px; */
  /* height: 35px; */
  /* +  gap: 6px; */
  border-radius: 1000px;
  background-color: #ffffff;

  color: #30b868;
  align-items: center;
}

.banner .small-heading h4 {
  padding: 8px 12px;
  border: 8px 12px;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.banner h1 {
  color: #ffffff;
  text-align: center;
  font-size: 72;
  font-weight: 700;
  /* line-height: 84px; */
}
.banner .green-font-header {
  color: #30b868;
}

.banner p {
  line-height: 24px;
  font-size: 18px;
  font-size: regular;
  text-align: center;
}

.header-btn {
  gap: 16px;
}

.banner .transparent-btn {
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid white;
  /* box-shadow: ; */
  color: #ffffff;
  background-color: transparent;
}
.transparent-btn:hover{
    cursor: pointer;
}


/* notes dont fail section  */

.notes {
  margin: 0px 120px 120px 120px;
  background-color: rgb(253, 252, 250);
  gap: 44px;
}

.notes-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 44px;
}

.notes-headline h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: auto;
}

#card1 {
  border: 1px solid black;
}

.notes p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  align-items: top;
}

.notes-card {
  display: flex;
  gap: 24px;
}

.card {
  width: 300px;
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.card img {
  padding: 14px;
  background-color: #f95555;
  color: #ffffff;
  border-radius: 50%;
}

.card h3 {
  font-weight: 600;
  font-size: 24;
  line-height: auto;
}

/* brain section  */

.brain-section {
  display: flex;
  margin: 120px;
}

.brain-img {
  width: 600px;

  border-radius: 12px;
}

.brain-text {
  display: flex;
  flex-direction: column;
  margin: 60px 0 0 60px ;
  /* margin-left: 50px; */
  gap: 40px;
  text-align: left;
  max-width: 600px;
}

.brain-headline {
  /* gap: 16px; */
}
.brain-headline h2 {
  font-size: 48px;
  font-weight: 700;
  /* line-height: normal; */
}

.brain-headline h4 {
  font-size: 16px;
  font-weight: 500;
  /* line-height: 20px; */
  color: #30b868;
}

.brain-headline p {
  font-size: 16px;
  font-weight: 400;
  /* line-height: 20; */
}

.brain-check {
  /* width: 700px;
  height: 128px; */
  gap: 16px;
  align-items: top left;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 20; */
}

/* ready section  */
.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 0px 120px 120px 120px;

  gap: 24px;
  border-radius: 12px;
  background-color: #f7f6f2;

  padding: 80px 40px;
}

.ready-headline h2 {
  font-size: 40px;
  font-weight: 700;
}

.ready-headline p,
.ready-others p {
  color: #627382;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.ready-others {
  width: 1280px;
  height: 88px;
}

/* footererrer 

*/

footer {
  background: #001931;

  gap: 80px;
  padding: 120px 120px 30px 120px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.footer-links h4 {
  color: #ffffff;

  display: flex;
}

.footer-links ul {
  color: #ffffff;
  list-style: none;
  display: flex;
  padding: 0;

  gap: 16px;
}

footer hr {
  border: none;
  height: 1px;
  background-color: #5e5e66;
}
.footer-rights {
  text-align: center;

  color: #fafafa;
  line-height: 24px;
  font-size: 16px;
  font-weight: regular;
}
